
/* ---------- GREEN STYLE ---------- */

/* body top border */
body{border-top:4px #01AE58 solid}
/* navigation */
#menu ul li:first-child>a{border-top:2px solid #01AE58}
#menu ul li:first-child>a:after{border-bottom:6px solid #01AE58}
#menu ul ul li:first-child a:after{border-right:6px solid #01AE58}
#menu ul li:first-child a:hover:after{border-bottom-color:#01AE58}
#menu ul ul li:first-child a:hover:after{border-right-color:#01AE58}
/* font colors */
.colored,a{color:#01AE58}
.slash-colored{color:#01AE58}
.descr a{color:#01AE58}
#menu li:hover>a{color:#01AE58}
*html #menu li a:hover{color:#01AE58}
.hrefnone a:hover{color:#01AE58}
.read-more a{color:#01AE58}
#themeFilterableNav li a:hover{color:#01AE58}
/* backgrounds */
.colored_bg{background:#01AE58}
.prtHeadTitle{background:#01AE58}
#TopTrigger{background:#01AE58;}
.featbtn{background:#01AE58}
.featbtn2{background:#01AE58}
#themeFilterableNav li.active-tag{background:#01AE58}
/* image hover icons background */
.view a.info:hover{background-color:#01AE58!important;}
.view a.link:hover{background-color:#01AE58!important;}
/* top toggle background */
.top_line{background-color:#01AE58}




